/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

.ignore-css
{
    all:unset;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ccefc5;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #ccefc5;
}

/* Darker background-color on hover */
ul li:hover {
    background: #94e683;
}

li.active {
    background: #4fbd3b !important;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.list-wrapper{
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
}


/* List component */
.list{
    background-color: #FFF;
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.list .list-item{
    display: flex;
    padding: 10px 5px;
}
.list .list-item:not(:last-child){
    border-bottom: 1px solid #EEE;
}

/*list item image wrapper*/
.list .list-item__image{
    flex-shrink: 0;
    height: 80px;
}
.list .list-item__image img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/*list item content*/
.list .list-item__content{
    flex-grow: 1;
    padding: 0 20px;
}
.list .list-item__content h4{
    margin: 0;
    font-size: 18px;
    margin-top: 15px;
}

.list .list-item__content p{
    margin-top: 5px;
    color: #AAA;
    margin-bottom: 0;
}
